<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Help</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="icon" href="https://f.v1.n0.cdn.getcloudapp.com/items/1J0Y1N1I441v1E2k3e2W/weather.png">
  </head>
  <body>

    <div class="main-content">
      {{>header}}
      <p id="help-p">For any questions you can contact me on:</p>
      <div id="help-p">
        <p>istserbina@gmail.com</p>
        <a href="https://github.com/RubbaPython"><p> GitHub</p></a>
        <a href="https://www.linkedin.com/in/ilja-stserbina/"><p> LinkedIn</p></a>
      </div>
      
    </div>
  
    {{>footer}}
  </body>
</html>
