<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="icon" href="https://f.v1.n0.cdn.getcloudapp.com/items/1J0Y1N1I441v1E2k3e2W/weather.png">
    <title>Weather</title>
  </head>
  <body>

    <div class="main-content">
     {{>header}}
     <p id='p1'>Use this site to get weather!</p>

      <form action="">
        <label for="address">Address</label>
        <input type="text" placeholder="Address" id="address">
        <button>Search</button>
      </form>
      <div class="Messages">
        <p id="messageOne"></p>
        <p id="messageTwo"></p>
        <img src="" alt="" class="img">
      </div>
    </div>
    
    {{>footer}}
   {{!-- Script --}}
   <script src="../js/app.js"></script>
  </body>
</html>